body {
	background-color: white;
}

.container {
	/* width: 960px; */
	max-width: 960px;
	margin: 0 auto;
	font-size: 100%;
	line-height: 1.5;
}

/* Typography */
h1,
h2 {
	padding: 10px;
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: grey;
}

/* Layout */
nav {
	background-color: lightgrey;
	margin-top: 48px;
}

header {
	height: 450px;
	background-color: lightgrey;
	margin-top: 24px;
}

main {
	height: 800px;
	background-color: lightgrey;
	margin-top: 24px;
}

footer {
	height: 150px;
	background-color: #dddddd;
	margin-top: 24px;
	margin-bottom: 48px;
}

/* Width Math 
Total - margin - border - padding = leftover
960 - (2 * 30) - (2 * 2) - 0
960 - 60 - 4 = 896
	896/1 = 896
*/
main section {
	width: 896px;
	height: 200px;
	border: 2px solid black;
	background-color: white;
	margin-left: 30px;
}