body {
    background-image: url(../img/page-background.gif);
    background-repeat: repeat-x;
}

.container {
    width: 960px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    text-align: center;
}

/* Nav Element */

.site-navigation {
    height: 155px;
}

.site-navigation img {
    margin-top: 16px;
}

.site-navigation ul {
    width: 490px;
    margin: 0 auto;
    display: flex;
}

.site-navigation li {
    margin: 8px 25px;
}

.site-navigation a {
    color: white;
    text-decoration: none;
}

.site-navigation a:hover {
    padding-bottom: 2px;
    border-bottom: 1px solid white;
}

.hidden {
    display: none;
}