body {
    font-size: 100%;
    font-family: 'DM Sans', sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* Add your code where necessary to make the final 
web site look similar to the attached screen-shot 
and figma file */

h2 {
    
}

header {
    
}

ul.menu {
    
}

ul.menu a {
    
}

ul.menu a:hover {
    
}

section {
    
}