* {
	box-sizing: border-box;
}

img {
	margin: 30px;
	border: 5px solid black;
	padding: 10px;
	/* display: none; */
	/* visibility: hidden; */
	/* display: inline; */
	/* display: block; */
	/* display: inline-block; */
}

li {
	margin: 30px;
	border: 5px solid black;
	padding: 10px;
	/* display: none; */
	/* visibility: hidden; */
	/* display: block; */
	/* display: inline; */
	/* display: inline-block; */
}

ul {
	list-style: none;
	/* display: none; */
	/* visibility: hidden; */
	/* display: block; */
	/* display: inline; */
	/* display: inline-block; */
}