/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text */

body {
    background-color: #e9d8a6;
    font-family: 'Merriweather', serif;
    font-size: 100%; /* This will render as 16px. */
    /* Style the default / paragraph base text on the body element so that it inherits down to every element (anchor tags, buttons, form elements, etc) */
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* ************* global typography ************* */
/* The heading levels should be styled globally (directly on the h1, h2, ect selectors) for them to be automatically styled everywhere on the site, especially helpful on larger sites with multiple pages. */
h1 {
    font-size: 81px;
    color: #9b2226;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    letter-spacing: -3px;
}

h2 {
    font-size: 36px;
    color: #ca6702;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

p {
    margin-bottom: 24px;
}

header,
article,
footer {
    background-color: #fff;
    border: 3px solid #ee9b00;
    margin-bottom: 48px;
    padding: 24px;
}

header {
    margin-top: 24px;
    text-align: center;
}

header p {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
}

header p:first-of-type {
    margin-bottom: 0;
}

article img {
    width: 150px;
    border: 2px solid #e9d8a6;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
}

footer {
    display: flex;
    gap: 16px;
    justify-content: center;
}

footer img {
    width: 50px;
}