* {
	box-sizing: border-box;
}

body {
	background-color: white;
}

.container {
	/* width: 960px; */
	max-width: 960px;
	margin: 0 auto;
	font-size: 100%;
	line-height: 1.5;
}

/* Typography */
h1,
h2 {
	padding: 20px;
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: grey;
}

/* Layout */
nav {
	background-color: lightgrey;
	margin-top: 48px;
}

header {
	height: 450px;
	background-color: lightgrey;
	margin-top: 24px;
}

main {
	height: 800px;
	background-color: lightgrey;
	margin-top: 24px;
}

footer {
	height: 150px;
	background-color: #dddddd;
	margin-top: 24px;
	margin-bottom: 48px;
}

/* Width Math 
Total - margin = leftover
960 - (2 * 30)
960 - 60 = 900
	900/1 = 900
*/
main section {
	/* width vs max-width for proper responsiveness */
	/* width: 900px; */
	max-width: 900px;
	height: 200px;
	border: 2px solid black;
	background-color: white;
	margin-left: 30px;
	margin-right: 30px;
}