body {
    background-image: url(../img/page-background.gif);
    background-repeat: repeat-x;
}

.container {
    width: 960px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    text-align: center;
}

/* Nav Element */

.site-navigation {
    height: 155px;
}

.site-navigation img {
    margin-top: 16px;
}

.site-navigation ul {
    width: 490px;
    margin: 0 auto;
}

.site-navigation li {
    margin: 8px 25px;
    float: left;
}

.site-navigation a {
    color: white;
    text-decoration: none;
}

.site-navigation a:hover {
    padding-bottom: 2px;
    border-bottom: 1px solid white;
}

/* Header Element */

.contact-us h1 {
    line-height: 0.8;
    font-size: 72px;
    color: #7a777c;
    width: 450px;
    border-bottom: 1px solid #d9d9d9;
    margin: auto;
    margin-top: 115px;
    padding-bottom: 42px;
}

input,
button {
    background-color: #efefef;
    border: 1px solid #c4c4c4;
    line-height: 30px;
    width: 312px;
    padding-left: 48px;
}

textarea {
    background-color: #efefef;
    border: 1px solid #c4c4c4;
    line-height: 30px;
    max-width: 312px;
    min-width: 312px;
    max-height: 150px;
    min-height: 150px;
    padding-left: 48px;
    background-image: url(../img/form-message-icon.gif);
    background-repeat: no-repeat;
}

label {
    font-family: Verdana;
    display: block;
    font-size: 12px;
    color: #cacaca;
}

main {
    margin-bottom: 200px;
}

form div {
    margin-top: 48px;
}

.your-name input {
    background-image: url(../img/form-name-icon.gif);
    background-repeat: no-repeat;
}

.email-address input {
    background-image: url(../img/form-email-icon.gif);
    background-repeat: no-repeat;
}

.phone-number input {
    background-image: url(../img/form-phone-icon.gif);
    background-repeat: no-repeat;
}

.submit-button button {
    padding: 0;
    text-align: center;
    width: 120px;
    color: #8a8a8a;
}

.submit-button button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}