/* Element Selectors */
body {
	background-color: black;
  }

  /* . is for classes */
  .primary-heading {
	color: blue;
  }

  /* # is for IDs */
  #welcome {
	background-color: #f4f4f4;
  }

  /* Multiple Selectors */
  #welcome, #about {
  border-width: 10px;
	border-style: solid;
	border-color: green;
  }

  /* Decendant Selectors */
  #welcome p {
	font-size: 30px;
  }

  #about {
	color: white;
  }