h1 {
	color: red;
}

p {
	font-size: 10px;
}

/*
Classes in CSS are preceded by a period.
e.g. if you want to target the odd class, you precede
odd with a period -> .odd
*/

.odd {
	background-color: lightgrey;
}