* {
    box-sizing: border-box;
}
body {
    font-size: 100%;
    font-family: 'Source Sans 3', sans-serif;
    color: #fff;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

/* ***************** typography ******************** */
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
    margin-bottom: 16px;
}

/* ***************** header ******************** */
header {
    background-color: #028568;
    padding: 9px 9px 0 9px;
    display: flex;
    gap: 230px;
}

ul.menu-links {
    display: flex;
    gap: 16px;
}

ul.menu-links li {
    line-height: 48px;
}

ul.menu-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 0 5px;
}

ul.menu-links a:hover {
    background-color: #ABDDD5;
    border-radius: 4px;
}

/* ********************* banner area ****************** */
main {
    background: #ABDDD5 url('../img/island-background.jpg') no-repeat;
}

section > div {
    width: 640px;
    padding: 71px 0 103px 0;
    text-align: center;
}

.line {
    width: 500px;
    height: 6px;
    margin: 24px auto;
    background-color: #ABDDD5;
}

section p {
    font-size: 18px;
    width: 379px;
    margin: 0 auto;
}

aside {
    width: 320px;
    padding: 79px 33px 135px 31px;
    background-color: rgba(171, 221, 213, 0.5);
}

aside a {
    background-color: #fff;
    color: #028568;
    text-decoration: none;
    font-size: 18px;
    display: block;
    width: 89px;
    line-height: 36px;
    text-align: center;
    border-radius: 3px;
}

aside a:hover {
    background-color: #028568;
    color: #fff;
}
