* {
	box-sizing: border-box;
}

body {
	font-size: 100%;
	line-height: 1.5;
	background-color: #f2f2f2;
	padding: 26px 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #6a6a6a;
}

.container {
	width: 960px;
	margin: 0 auto;
}

h1,
h2,
h3,
li {
	font-size: 24px;
	text-align: center;
	padding: 12px 0;
	color: #606060;
}

h3 {
	text-align: left;
}

h3,
li {
	font-size: 20px;
}

section {
	background-color: #fff;
	border: 2px solid #9b9b9b;
	margin-bottom: 26px;
}

li,
section header,
.section-one-columns div,
.section-two-columns div {
	background-color: #d6d6d6;
	border: 2px solid #9b9b9b;
	margin-bottom: 26px;
}

ul,
.section-one-columns,
.section-two-columns {
	display: flex;
	flex-wrap: wrap;
}

/* Math 
Total - margin = leftover
960 - (3 * 12)
960 - 36 = 924
	924/4 = 231
*/
li {
	width: 231px;
	margin-right: 12px;
}

li.no-margin-right {
	margin-right: 0;
}

section header {
	margin: 26px;
}

/* Math 
Total - sectionborder - divmargin = leftover
960 - (2 * 2) - (4 * 26)
960 - 4 - 104 = 852
	852/3 = 284
*/
.section-one-columns div {
	width: 284px;
	padding: 12px;
	margin-left: 26px;
}

/* Math 
Total - sectionborder - divmargin = leftover
960 - (2 * 2) - (3 * 26)
960 - 4 - 78 = 878
	878/2 = 439
*/
.section-two-columns div {
	width: 439px;
	padding: 12px;
	margin-left: 26px;
}