body {
	background-color: white;
	background-image: url(../img/pattern-bg.gif);
	font-family: 'Raleway', sans-serif;
}
 
.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
}

header {
	height: 70px;
	background-color: #fff;
	border-bottom: 1px solid #959372;
}

header > img {
	margin: 14px;
}

.banner {
	margin-top: 50px;
	padding: 50px 0 0 680px;
	background-image: url(../img/flower-banner.jpg);
	height: 430px; /* 480px - 50px padding */
}

.banner h1 {
	font-family: 'Alegreya', serif;
	font-size: 36px;
	color: #f9ea4f;
}

/* target the anchor link directly to remove the default underline and color */
.banner a {
	text-decoration: none;
	color: #fff;
}

/* :hover pseudo-class adds styles only when the mouse is over the link */

.banner a:hover {
	color: #f9ea4f;
}

/* target the li to adding spacing and other styles */
.banner li {
	line-height: 40px;
}