* {
	box-sizing: border-box;
}

body {
	background-color: white;
	text-align: center;
}

.container {
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;
}

/* Typography */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1,
h2 {
	font-weight: bold;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

/* Layout*/

header {
	margin-top: 15px;
}

header nav {
	margin: 15px 0;
}

header nav ul {
	display: flex;
}

/* Width Math for nav bar
Total - margin = leftover
960 - (6 * 15)
960 - 90 = 870
	870/5 = 174
*/
header nav ul li {
	width: 174px;
	margin-left: 15px;
	border: 2px solid #333333;
	text-align: center;
}

main {
	display: flex;
}

/* Width Math for section
Total - margin = leftover
960 - (3 * 15)
960 - 45 = 915
	915/2 = 457.5
*/
main section {
	width: 457.5px;
	border: 2px solid #333333;
	margin-left: 15px;
	margin-top: 15px;
	padding: 15px;
}