/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

body {
    background: white;
    text-align: center;
}

.center-page-container {
    background-color: lightblue;
    width: 960px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.5
}

.flex-container {
    background-color: lightgrey;
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
}

.flex-item {
    /* width: 100px; */
    /* Without the flex: 1; the div size
       will be the size of the div's content.
       With the flex: 1; the div size
       will be calculated to honour the margin
       and fill the parents space. */
    flex: 1;
    height: 200px;
    border: 2px solid black;
    margin: 20px 20px 20px 0;
    background-color: yellow;
}

.first-item {
    margin-left: 20px;
}