body {
    background-color: white;
}

.container {
    margin: 0 auto;
    width: 960px;
    font-size: 100%;
    line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
    text-align: center;
    font-weight: 600;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 36px;
    margin: 30px 0;
}

/* YOUR STYLES */

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: #d3d3d3;
}

div.red-paint, 
div.blue-paint {
    width: 450px;
    height: 300px;
    margin-left: 20px;
}

div.red-paint {
    background-color: red;
}

div.blue-paint {
    background-color: blue;
}

div.full-width {
    width: 920px;
    height: 60px;
    background-color: black;
    margin-top: 20px;
    margin-left: 20px;
}

