/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

* {
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #111827;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Domine', serif;
    text-transform: uppercase;
}

h4 {
    font-size: 21px;
    text-transform: none;
    color: #aad5b8;
    margin-bottom: 12px;
}

.payment {
    width: 630px;
    margin: 30px 0 30px 0;
}

.payment fieldset {
    border: none;
    margin: 0 0 30px 0;
    padding: 0;
}

.payment label {
    display: block;
    margin-bottom: 6px;
}

.payment input {
    line-height: 40px;
    background-color: #F9FAFB;
    border: 1px solid #D1D5DB;
    padding: 0 0 0 8px ;
    width: 300px;
}

input.full-w {
    width: 630px;
}

input[type=submit] {
    background-color: #aad5b8;
    width: 630px;
    font-weight: 700;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: #91b4a7;
    color: #fff;
    cursor: pointer;
}