* {
	box-sizing: border-box;
}

body {
	background-color: white;
	text-align: center;
}

.container {
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;
}

/* Typography */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1,
h2 {
	font-weight: bold;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

/* Layout*/

header {
	margin-top: 15px;
}

header nav {
	margin: 15px 0;
}

header nav ul {
	display: flex;
}

/* Width Math 
Total - margin = leftover

*/
header nav ul li {
	/* Put your code in here as per specs */
}

main {
	display: flex;
}

/* Width Math 
Total - margin = leftover

*/
main section {
	/* Put your code in here as per specs */
}