/*multiple element selector*/
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

/*element selector*/
body {
    font-family: verdana, sans-serif;
    color: #111111;
}

h1 {
    padding: 48px;
    color: #696969;
    border-bottom: 1px solid #dedede;
}

section {
    font-family: Arial;
    width: 800px;
    margin: 48px;
}

footer {
    padding: 48px;
    background-color: #dedede;
}

/*class selector*/
.menu-items {
    font-family: courier;
    /* this gets rid of the ul bullets */
    list-style-type: none;
    width: 600px;
    padding: 24px;
    border-left: 5px solid red;
    background-color: #f4f4f4;
    margin-left: 24px;
}