body {
	background-color: white;
}

.container {
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;
}

/* Typography */
h1,
h2 {
	padding: 10px;
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #747474;
}

/* Layout */
nav {
	margin-top: 48px;
	background-color: #dddddd;
}

header {
	height: 450px;
	margin-top: 24px;
	background-color: #dddddd;
}

main {
	height: 800px;
	margin-top: 24px;
	background-color: #dddddd;
}

main section {
	width: 896px;
	border: 2px solid black;
	background-color: white;
	margin: 30px;
	height: 200px;
}

footer {
	margin-top: 24px;
	background-color: #dddddd;
	height: 150px;
	margin-bottom: 48px;
}