html {
	background-color: white;
}
 
.container {
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;
}

.hidden {
	display: none;
}

.page-header {
	background: url(../img/header-background.png) repeat-x;
}

