body {
    background: white;
    text-align: center;
}

.container {
    width: 960px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.5
}

main {
    background-color: lightgrey;
    display: flex;
}

main div {
    height: 200px;
    border: 2px solid black;
    margin: 10px 0px 10px 10px;
}

div.red-paint {
    background-color: red;
}

div.blue-paint {
    background-color: blue;
}

div.yellow-paint {
    background-color: yellow;
}

/* Width Math with NO padding or border on main (parent of div's)
Total - margin - border - padding = leftover
960 - (4 * 10) - (6 * 2) - 0
960 - 40 - 12 = 908
	908/3 = 302.66 */
/* main div {
    width: 302.66px;
} */

/* Width Math WITH padding and border on main (parent of div's)
Total - parent.padding - parent.border - margin - border - padding = leftover
960 - (2 * 20) - (2 * 5) -(4 * 10) - (6 * 2) - 0
960 - 40 - 10 - 40 - 12 = 858
	858/3 = 286 */
main {
    padding: 20px;
    border: 5px solid green;
}
main div {
    width: 286px;
}

/* The following shows what happens if width of each div is too small */
/* main div {
    width: 250px;
} */

/* The following shows what happens if width of each div is too big */
/* main div {
    width: 450px;
} */
