* {
	/* box-sizing: content-box; */
	box-sizing: border-box;
}

h1 {
	margin: 0;
	padding: 0;
}

.margin-section {
	margin: 20px 15px 10px 5px;
}

.border-section {
	border: 6px solid black;
}

.padding-section {
	padding: 10px;
}

.width-section {
	/* With box-sizing: content-box means the width is the content width */
	/* With box-sizing: border-box means the width is the box width */
	width: 500px;
	margin: 20px;
	padding: 10px;
	border: 6px solid black;
}