body {
	background-color: white;
	font-family: 'Raleway', sans-serif;
	color: #f1f7f6;
	font-size: 100%;
	line-height: 1.5;
}
 
.container {
	margin:0 auto;
	width:960px;
}

/* ********************* header section ********************* */

/* The header will be a flex container. */
/* the children will be the anchor and nav */
/* the anchor and nav elements will be arranged horizontally */
header {
	background-color: #028568;
	display: flex;
}
/* logo margin as per photoshop measurement*/
header a img {
	margin: 10px;
}
/* position the nav bar to be away from the logo as per photoshop measurement */
header nav {
	margin-left: 210px;
}
/* The ul will be a flex container */
/* the children will be the ul li's */
/* the li elements will be arranged horizontally */
header nav ul {
	display: flex;
}
/* add additional text styling and spacing to the li elements */
header nav ul li {
	font-size: 18px;
	/* line height equals the height of the header element and it vertically centers the text */
	line-height: 75px;
	margin-right: 30px;
}
/* target the anchor link directly to remove the default underline and color */
header nav ul li a {
	text-decoration: none;
	color: #f1f7f6;
}
/* add the hover effect */
header nav ul li a:hover {
	border-bottom: 2px solid #abddd5;
}

/* ********************* banner section ********************* */

.banner {
	font-size: 18px;
	background-color: #000;
	/* image is 960px wide by 362px high */
	background-image: url(../img/island-bg.jpg);
	height: 362px;
	display: flex;
}

.banner h2 {
	font-family: 'Alegreya', serif;
	/* as measured in photoshop 36pt = 36px */
	font-size: 36px;
	/* as measured in photoshop 54pt = 54px */
	line-height: 54px;
}

.banner .left-column h2 {
	margin-bottom: 36px;
}

.banner .left-column {
	/* from photoshop left-column width is 578px */
	/* from photoshop left and right padding is 82px * 2 = 164px */
	/* 578px - 164px padding = 414px content width*/
	width: 414px;
	/* photoshop measurement from bottom of header to top of green bar is 175px */
	/* .banner h2 line-height is 54 px and margin-bottom is 36px = 90px total */
	/* padding-top is 175px - 90px = 85px */
	padding: 85px 82px 0px 82px;
	text-align: center;
}

.banner .left-column .bar {
	width: 414px;
	height: 8px;
	margin-bottom: 36px;
	background-color: #abddd5;
}

.banner .right-column {
	/* no need for left and right padding as all text is centered */
	/* 960px - 578px = 382px */
	width: 382px;
	/* make padding-top same as left-column  */
	padding: 85px 0px 0px 0px;
	/* add a background color with opacity */
	background-color: rgba( 171, 221, 213, 0.4);
	text-align: center;
}

/* target the li to adding spacing and other styles */
.banner .right-column nav ul li {
	line-height: 30px;
}

/* target the anchor link directly to remove the default underline and color */
.banner .right-column nav ul li a {
	text-decoration: none;
	color: #fff;
}

/* :hover pseudo-class adds styles only when the mouse is over the link */
.banner .right-column nav ul li a:hover {
	border-bottom: 2px solid #abddd5;
}