* {
	box-sizing: border-box;
}

body {
	background-color: white;
	text-align: center;
}

.container {
	background-color: lightgrey;
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;
}

/* Typography */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1,
h2 {
	font-weight: bold;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

/* Layout*/

header {
	margin-top: 15px;
}

header nav {
	margin: 15px 0;
}

header nav ul {
	display: flex;
}

/* Width Math for nav bar with 3 items
Total - margin = leftover
960 - (4 * 15)
960 - 60 = 900
900/3 = 300 

Width Math for nav bar with 4 items
960 - (5 * 15)
960 - 75 = 885
	885/4 = 221.25*/

header nav ul li {
	width: 300px;
	/* width: 221.25px; */
	margin-left: 15px;
	border: 2px solid #333333;
	text-align: center;
}

main {
	display: flex;
}

/* Width Math for section
Total - margin = leftover
960 - (2 * 15)
960 - 30 = 930
	930/1 = 930 */
	
main section {
	width: 930px;
	border: 2px solid #333333;
	margin: 15px 0px 15px 15px;
	padding: 15px;
}