/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
	text-align: center;
}

h1,
h2 {
	font-weight: bold;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

.center-page-container {
	background-color: lightgrey;
	width: 960px;
	margin: 24px auto 24px auto;
	font-size: 100%;
	line-height: 1.5;
}

header h1 {
	margin-bottom: 24px;
}

.flex-container {
	display: flex;
	justify-content: space-between;
}

.flex-item {
	flex: 1;
	border: 2px solid #333333;
	padding: 14px;
	margin: 0 24px 24px 0;
	text-align: center;
}

.first-item {
	margin-left: 24px;
}