body {
    background-image: url(../img/page-background.gif);
    background-repeat: repeat-x;
}

.container {
    width: 960px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    text-align: center;
}

/* Put your code here to complete the web
    page to look like the included screen shot
 */

.site-navigation {
    
}

.site-navigation img {
    
}

.site-navigation ul {
    
}

.site-navigation li {
    
}

.site-navigation a {
    
}

.site-navigation a:hover {
    
}